<nav class="flex justify-between items-center text-white bg-green-700 p-2">

  <p-button
    (onClick)="toggleSideBar()"
    class="md:hidden"
    icon="pi pi-bars"
    [rounded]="true"/>

  <h2 class="text-white font-bold">Infofarms</h2>

  <div class="flex justify-around items-center space-x-2 bg-green-900 rounded-lg p-2">
    <p>Usuario</p>

    <p-avatar
      label="U"
      styleClass="mr-2"
      size="normal"
      [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }"
      shape="circle" />
  </div>
</nav>
