
<div class="bg-cover bg-center static opacity-85 flex justify-center">
  <div class="absolute self-center text-white flex flex-col items-center text-center">
    <h2 class="font-bold text-2xl sm:text-5xl m-3">Gestiona tus plantaciones</h2>
    <button pButton routerLink="/user"  class="bg-green-500 p-2 m-3">Empezar</button>
  </div>
  <img ngSrc="../../../../assets/landing-image.jpg" width="500" height="500" class="w-full max-h-[650px]" priority>
</div>

<div class="w-full h-full max-h-96 bg-green-500 flex flex-col relative justify-between text-center text-white">
  <h2 class="text-2xl sm:text-5xl m-3">Te ofrecemos soluciones</h2>
</div>
