<div class="flex justify-between items-center m-3">
  <h2 class="text-4xl ">{{ plantation?.name }}</h2>
  <p class="text-xl">Localización: {{ plantation?.location }}</p>
</div>

<p>{{ plantation?.description }}</p>

@if (plantation) {
  <p-table
    [value]="plantation!.cropData.content"
    [(selection)]="selectedCrops"
    scrollHeight="flex"
    styleClass="p-datatable-striped h-[70%] sm:h-4/5"
    [loading]="loading"
    [scrollable]="true"
    [scrollDirection]="'both'">
    <ng-template pTemplate="caption">
        <div class="flex flex-col sm:flex-row w-full items-center justify-between">
          <p>Cultivos de la plantación: {{ totalCrops }}</p>

          <div class="flex">
            @switch (createOrderStep) {
              @case (0) {
                <button
                  pButton
                  (click)="continueOrderCreation()"
                  class="text-white bg-green-500 p-2 hover:bg-green-700 mr-2"
                  icon="pi pi-book">Crear pedido</button>

                  <button
                    pButton
                    (click)="showDialog()"
                    class="text-white bg-green-500 p-2 hover:bg-green-700"
                    icon="pi pi-plus">Añadir cultivo</button>
              }
              @case (1) {
                <div class="flex gap-2">
                  <button
                    pButton
                    (click)="continueOrderCreation()"
                    class="text-white bg-green-500 p-2 hover:bg-green-700">Avanzar</button>

                  <button
                    pButton
                    (click)="cancelOrder()"
                    class="border border-green-500 text-green-500 p-2 hover:border-green-700 hover:text-green-700">Cancelar</button>
                </div>
              }
            }
          </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            @if (createOrderStep > 0) {
              <th style="width: 4rem"><p-tableHeaderCheckbox/></th>
            }
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Coste</th>
            <th>Precio/kg</th>
            <th>Kilos</th>
            <th>Superficie</th>
            <th>Kilos/Superficie</th>
            <th>Fecha de plantación</th>
            <th>Fecha de recolección</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" class=" overflow-auto" let-cropData let-rowIndex="rowIndex">
        <tr>
            @if (createOrderStep > 0) {
              <td>
                <p-tableCheckbox [value]="cropData" />
              </td>
            }
            <td><img [ngSrc]="cropData.crop.cropImage || '../../../../assets/no-image.png'" [alt]="cropData.crop.cropName" width="100" height="100" priority class="shadow-4" /></td>
            <td>{{cropData.crop.cropName | titlecase}}</td>
            <td>{{cropData.cost}}</td>
            <td>{{cropData.kilo_price}} €/Kg</td>
            <td>{{cropData.kilos | number:'1.2-2'}} Kg</td>
            <td>{{ cropData.surface | number:'1.2-2'}} {{ cropData.type_surface | surfaceSymbol }}</td>
            <td>{{ cropData.kilos_surface | number:'1.2-2' }} Kg/{{ cropData.type_surface | surfaceSymbol }}</td>
            <td>{{ cropData.planting_date ? (cropData.planting_date| date:'dd/MM/yyyy') : 'Sin fecha' }}</td>
            <td>{{ cropData.collection_date ? (cropData.collection_date | date:'dd/MM/yyyy') : 'Sin fecha' }}</td>
            <td>
              <button
                (click)="showDialog(rowIndex)"
                icon="pi pi-pencil"
                pButton></button>
                <button
                (click)="setConfirmation($event,rowIndex)"
                icon="pi pi-trash"
                pButton></button>
            </td>
        </tr>
    </ng-template>
  </p-table>

  <p-paginator
      class="inset-x-0 bottom-0"
      (onPageChange)="onPageChange($event)"
      [first]="1"
      [rows]="10"
      [totalRecords]="totalCrops"
      [showFirstLastIcon]="false"
      alwaysShow="false"/>
}

<p-confirmPopup />

<p-toast/>

<app-crop-data-form
    [title]="dialogTitle"
    [cropDataToEdit]="cropDataToEdit"
    (sendCreation)="createCropData($event)"
    (sendUpdate)="editCropData($event)"/>

