<div class="grid gap-4 grid-cols-1 sm:grid-cols-1 md:grid-cols-3">
  <p-skeleton styleClass="mr-2" height="15rem"/>
  <p-skeleton styleClass="mr-2" height="15rem"/>
  <p-skeleton styleClass="mr-2" height="15rem"/>
  <p-skeleton styleClass="mr-2" height="15rem"/>
  <p-skeleton styleClass="mr-2" height="15rem"/>
  <p-skeleton styleClass="mr-2" height="15rem"/>
  <p-skeleton styleClass="mr-2" height="15rem"/>
  <p-skeleton styleClass="mr-2" height="15rem"/>
  <p-skeleton styleClass="mr-2" height="15rem"/>
</div>
