<div class="w-full h-full flex flex-col space-y-20 justify-center items-center bg-gray-100">

  <div class="space-y-3 text-center">
    <h2 class="text-3xl md:text-4xl font-bold">Registra tu negocio</h2>
    <h3 class="text-gray-500 text-base">Introuduce los datos de tu empresa</h3>
  </div>

  <form [formGroup]="registerUserForm" class="w-full p-5 flex flex-col justify-around items-center h-40 space-y-14">
    <p-floatLabel class="w-full">
      <input formControlName="bussinesName" pInputText class="h-[50px]" [style]="{'width': '100%', 'padding':'10px'}" id="username"/>
      <label for="username">Nombre de la empresa</label>
    </p-floatLabel>

    <p-fileUpload
      customUpload="false"
      mode="basic"
      chooseLabel="Logo de la empresa"
      chooseIcon="pi pi-upload"
      accept="image/*"
      maxFileSize="1000000"/>

      <div class="flex flex-row-reverse w-full items-center">
        <button pButton type="submit" class="w-full justify-center bg-green-500 p-2 m-3 hover:bg-green-700 text-white font-bold rounded-3xl">Registrarse</button>

        <button pButton (click)="goBack()" class="w-full justify-center bg-gray-400 p-2 m-3 hover:bg-gray-500 text-white font-bold rounded-3xl">Volver</button>
      </div>

  </form>

</div>
